In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [9]:
base_url = "https://books.toscrape.com/"

In [ ]:
books = []

In [11]:
for page in range(1, 6):
    url = base_url.format(page)
    response = requests.get(url)
    soup = BeautifulSoup(response.text, "html.parser")

In [ ]:
for book in soup.find_all("article", class_="product_pod"):
        
        title = book.h3.a["title"]

        
        price = book.find("p", class_="price_color").text.strip()

        
        rating = book.p["class"][1]

       
        link = book.h3.a["href"]
        full_link = "https://books.toscrape.com/catalogue/" + link
        books.append({
            "Title": title,
            "Price": price,
            "Rating": rating,
            "Link": full_link
        })

In [13]:
df=pd.DataFrame(books)
df.head()

,Title,Price,Rating,Link
0,A Light in the Attic,Â£51.77,Three,https://books.toscrape.com/catalogue/catalogue...
1,Tipping the Velvet,Â£53.74,One,https://books.toscrape.com/catalogue/catalogue...
2,Soumission,Â£50.10,One,https://books.toscrape.com/catalogue/catalogue...
3,Sharp Objects,Â£47.82,Four,https://books.toscrape.com/catalogue/catalogue...
4,Sapiens: A Brief History of Humankind,Â£54.23,Five,https://books.toscrape.com/catalogue/catalogue...

In [14]:
df.to_csv("books_data.csv", index=False)